
/*tabella dettagli documento*/
    .containerdetail{
      margin-bottom: 5px;
    }
     table.tabledetail{
      border-collapse: collapse;
      width: 100%;
    }
    .tabledetail td{
      border: solid 1px #000;
      width: 16.5%;
      height:1.5cm;
    }

    .intestazione{
      margin-top: 35px;
      margin-left: 20px;
    }

    .dati{
      margin-top: 25px;
      margin-left: 25px;
      display: inline-block;
    }

  .logoRicevuta{
    float: left;
    box-sizing: border-box;
    width: 33%;
    margin: -15px;
  }

  p{
    font-size: 12px;
  }

  .operazione{
    margin-left: 20px;
  }

  .operazione p{
    margin-top: 20px;

  }

  .firma{
    float: right;
    width: 50%;
    box-sizing: border-box;
    margin-right: 25px;
    margin-top: -10px;
    margin-bottom: -3px;
  }

  .informativa{
    display: inline;
    margin-top:  5px;
    margin-left: 25px;
  }
