
/*tabella dettagli documento*/
    .containerdetail{
      margin-bottom: 5px;
    }
     table.tabledetail{
      border-collapse: collapse; 
      width: 100%;
    }
    .tabledetail td{
      border: solid 1px #000; 
      width: 16.5%;
      height:1.5cm;
    }
